@import '~antd/es/style/themes/default.less';
@import '../../../../utils/variables.less';


.inputContainer{
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
    label{
        font-weight: bold;
    }
    div{
        width: 100%;
        input{
            width: 100%;
        }
    }
}

.formListContainer{
    padding: 16px;
    border: 1px solid #fafafa;
}