@font-description-size: 12px; 
@default-icon-size: 26px;
@default-border-radius: 5px;
@default-border-color: #F5F7FB;
@default-shadow-color: #cecece42;
@default-box-shadow: 2px 2px 8px @default-shadow-color;
@default-background-color: #EBF0F7;
@primary-active-color: #1094e0;
@secondary-active-color: #ff00ea;
@primary-black-color: #203447;
@primary-white-color: #fff;
@default-text-color: #fff;
@default-padding: 8px;
@default-icon-small: @default-icon-size - 10px;
@font-description-color: #A1B0C2;