@font-description-size: 12px; 
@default-icon-size: 26px;
@default-border-radius: 5px;
@default-border-color: #F5F7FB;
@default-shadow-color: #cecece42;
@default-box-shadow: 2px 2px 8px @default-shadow-color;
@default-background-color: #EBF0F7;
@primary-active-color: #0094C6;
@secondary-active-color: #FEB95F;
@primary-black-color: #1E252E;
@second-black-color: #232C36;
@third-black-color: #2C3A46;
@primary-white-color: #fff;
@default-text-color: #fff;
@default-padding: 8px;
@default-icon-small: @default-icon-size - 10px;
@font-description-color: #949CA0;
@default-label-color: #505F6F;
@default-description-color: @font-description-color;
@default-transition-time: 500ms;