@import '~antd/es/style/themes/default.less';

.pipeContainer{
  display: flex;
  height: calc(100vh - 120px);
  margin-block-start: 0;
  padding-inline-start: 0;
}

.pipeContainer>div:not(:last-child){
  padding-right: 8px;
  border-right:  1px solid #dcd9d9;
}