@import '../../../utils/variables.less';

.processBoardContainer{
    margin: 10px 15%;
    .formTask{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            margin: 2px 4px;
        }
    }
}